ul.sub-menu > .menu-item a:hover, {
background-color:#fff; color:#ffa500; border-color:#FFAE00; padding-left:20px
}

.sub-menu > li > a:hover, .sub-menu > li > a:focus{background-color:#fff; color:#ffa500; border-color:#FFAE00; padding-left:20px}